
@{
    ViewBag.Title = "CardRegisterPage21";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<table class="table-bordered kokomuTable">
    <tbody>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.GuestName</label>
            </td>
            <td class="td2">
                <label id="lblGuestName"></label>
            </td>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.KanaName</label>
            </td>
            <td class="td2">
                <label id="lblKanagataName"></label>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.PostalCode</label>
            </td>
            <td class="td2">
                <label id="lblPostalCode"></label>
            </td>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.PhoneNo</label>
            </td>
            <td class="td2">
                <label id="lblPhoneNo"></label>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Address</label>
            </td>
            <td colspan="3">
                <label id="lblAddress1"></label>
            </td>


        </tr>
        <tr>
            <td colspan="3">
                <label id="lblAddress2"></label>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.WorkPlace</label>
            </td>
            <td colspan="3">
                <label id="lblWorkPlace"></label>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Nationality</label>
            </td>
            <td class="td2">
                <label id="lblCountry"></label>
            </td>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Passport</label>
            </td>
            <td class="td2">
                <label id="lblPassport"></label>
            </td>
        </tr>
    </tbody>
</table>

<table class="kokomuTable rowspace">
    <tbody>
        <tr>
            <td class="td1" style="border-right:hidden;">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.ArrivalDate</label>
            </td>
            <td class="td2" style="border-right:hidden;">
                <label id="lblArrivalDate"></label>
            </td>
            <td class="td1" style="border-right:hidden;">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.DepartureDate</label>
            </td>
            <td class="td2">
                <label id="lblDepartureDate"></label>
            </td>
        </tr>
    </tbody>
</table>
<table class="kokomuTable">
    <tbody>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Sign</label>
            </td>

            <td colspan="3">
                <label id="lblSign"></label>
            </td>

        </tr>
    </tbody>

</table>
<div class="col-md-4 offset-md-4">
    <button class="clsfinish" id="btnfinish">@HotelKoKoMu_CardRegister.Resources.Resources.Complete</button>
</div>






