
@{
    ViewBag.Title = "CardRegisterPage1";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<table class="table-bordered kokomuTable" id="table1">
    <tbody>
        <tr>
            <td class="td1" id="tdGuestName">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.GuestName</label>
            </td>
            <td class="td2">
                <label id="lblGuestName"></label>
            </td>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.KanaName</label>
            </td>
            <td class="td2">
                <label id="lblKanagataName"></label>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.PostalCode</label>
            </td>
            <td class="td2">
                <label id="lblPostalCode"></label>
            </td>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.PhoneNo</label>
            </td>
            <td class="td2">
                <label id="lblPhoneNo"></label>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Address</label>
            </td>
            <td colspan="3">
                <label id="lblAddress1"></label>
            </td>


        </tr>
        <tr>
            <td colspan="3">
                <label id="lblAddress2"></label>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.WorkPlace</label>
            </td>
            <td colspan="3">
                <label id="lblWorkPlace"></label>
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Nationality</label>
            </td>
            <td class="td2">
                <label id="lblCountry"></label>
            </td>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Passport</label>
            </td>
            <td class="td2">
                <label id="lblPassport"></label>
            </td>
        </tr>
    </tbody>
</table>

<table class="kokomuTable rowspace">
    <tbody>
        <tr>
            <td class="td1" style="border-right:hidden;">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.ArrivalDate</label>
            </td>
            <td class="td2" style="border-right:hidden;">
                @*<label id="lblArrivalDate"></label>*@
                @*<input type="date" id="aDate" name="aDate" class="form-control" value="{{ Date.now() | date("Y-m-d") }}" />*@
               
            </td>
            <td class="td1" style="border-right:hidden;">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.DepartureDate</label>
            </td>
            <td class="td2">
                @*<label id="lblDepartureDate"></label>*@
                <input type="date" placeholder="yyyy-mm-dd" value="2020-09-23" id="lblDepartureDate" name="lblDepartureDate" />
            </td>
        </tr>
    </tbody>
</table>
<table class="kokomuTable">
    <tbody>
        <tr>
            <td class="td1">
                <label>@HotelKoKoMu_CardRegister.Resources.Resources.Sign</label>
            </td>

            <td colspan="3">
                <label id="lblSign"></label>
            </td>

        </tr>
    </tbody>

</table>
<div class="col-md-4 offset-md-4">
    <button class="clsfinish" id="btnfinish">@HotelKoKoMu_CardRegister.Resources.Resources.Complete</button>
</div>

@section Scripts{
    <script type="text/javascript">
       
        $(".kokomuTable td").click(function () {
            var text = $(this).find("label").attr("id")

            if (text == "lblGuestName")
                location.href = '@Url.Action("CardRegisterPage2", "Card")';

            if (text == "lblKanagataName")
                location.href = '@Url.Action("CardRegisterPage4", "Card")';

            if (text == "lblPostalCode")
                location.href = '@Url.Action("CardRegisterPage6", "Card")';

            if (text == "lblPhoneNo")
                location.href = '@Url.Action("CardRegisterPage8", "Card")';

            if (text == "lblAddress1")
                location.href = '@Url.Action("CardRegisterPage10", "Card")';

            if (text == "lblAddress2")
                location.href = '@Url.Action("CardRegisterPage12", "Card")';

            if (text == "lblWorkPlace")
                location.href = '@Url.Action("CardRegisterPage14", "Card")';

            if (text == "lblCountry")
                location.href = '@Url.Action("CardRegisterPage16", "Card")';

            if (text == "lblPassport")
                location.href = '@Url.Action("CardRegisterPage18", "Card")';

            if (text == "lblSign")
                location.href = '@Url.Action("CardRegisterPage20", "Card")';
        });

    </script>

}








