<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Global.css")" />
</head>
<body>
    <div class="container" style="margin-top:10px;">
        <div class="card">
            <h5 class="card-header text-center" style="margin-top: 15px;border-radius: unset; background-color: #1b5696">ホ テ ル　ユーコム</h5>
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

@RenderSection("scripts", required: false)
