
@{
    Layout = null;
}

@*<script src="@Url.Content("~/Scripts/jquery-3.5.1.js")"></script>*@

<style>
    body {
        font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', "メイリオ", Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    }

    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 8px 20px;
        margin: 5px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #1b5696;
        padding: 14px 20px;
        color: white;
        font-weight: bold;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .container {
        padding: 16px;
    }

    .divLogin {
        margin-top: 50px;
        border: 1px solid #808080;
        border-radius: 5px;
    }

    .divtitle {
        text-align: center;
        color: #1b5696;
        margin-top: 5px;
    }
    
</style>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>

    @Scripts.Render(Url.Content("~/bundles/jquery"))
    <link href='@Url.Content("~/Content/bootstrap.css")' rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
    @*<script src="@Url.Content("~/Scripts/Common.js")"></script>*@
</head>
<body>
    <div class="col-md-12">
        @RenderBody()
    </div>
</body>
</html>
@RenderSection("scripts", required: false)

