
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="divLogin col-md-4 offset-md-4">
    <div class="divtitle">
        <h2>e-Registration Card System</h2>
    </div>
    <div class="container">
        <label for="SystemID"><b>System ID</b></label>
        <input type="text" id="SystemID" placeholder="Enter System ID" name="SystemID" required>

        <label for="PmsID"><b>Pms ID</b></label>
        <input type="text" id="PmsID" placeholder="Enter Pms ID" name="PmsID" required>

        <label for="PmsPassword"><b>Pms Password</b></label>
        <input type="password" id="PmsPassword" placeholder="Enter Pms Password" name="PmsPassword" required>

        <label for="HotelCode"><b>Hotel Code</b></label>
        <input type="text" id="HotelCode" placeholder="Enter Hotel Code" name="HotelCode" required>

        <label for="MachineNo"><b>Machine No.</b></label>
        <input type="text" id="MachineNo" placeholder="Enter Machine No." name="MachineNo" required>

        <button type="submit" id="btnlogin" class="btnlogin">Login</button>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
          
            $("#btnlogin").click(function () {
                Login();
             });
        });

        @*function Login() {
          var response = CalltoApiController('@Url.Action("ValidateLogin", "api/CardApi/")', { SystemID: $("#SystemID").val(), PmsID: $("#PmsID").val(), PmsPassword: $("#PmsPassword").val(), MachineNo: $("#MachineNo").val(), HotelCode: $("#HotelCode").val() });
                if (response.Status == "Success") {
                    var cardInfo = response.SystemID + '_' + response.PmsID + '_' + response.PmsPassword + '_' + response.MachineNo + '_' + response.HotelCode;

                    $.post('@Url.Action("CreateSession", "Card")',
                        { key: "CardInfo", value: cardInfo }, function (data) {
                            location.href = '@Url.Action("CardRegisterPage", "Card")';
                        });
                }
                else {
                    ShowAlert("error", "", response.Result);
                    $("#SystemID").focus();
                }
        }*@

         function Login() {
          var response = CalltoApiController('@Url.Action("ValidateLogin", "api/CardApi/")', { SystemID: $("#SystemID").val(), PmsID: $("#PmsID").val(), PmsPassword: $("#PmsPassword").val(), MachineNo: $("#MachineNo").val(), HotelCode: $("#HotelCode").val() });
                if (response.Status == "Success") {
                    var cardInfo = response.SystemID + '_' + response.PmsID + '_' + response.PmsPassword + '_' + response.MachineNo + '_' + response.HotelCode;
                    $.post('@Url.Action("CreateSession", "Card")',
                        { key: "CardInfo", value: cardInfo }, function (data) {
                            location.href = '@Url.Action("CardRegisterPage", "Card")';
                        });
                }
                else {
                    ShowAlert("error", "", response.Result);
                    $("#SystemID").focus();
                }
        }
    </script>
}
